img {
  width: 100%;
  height: 100%;
}
.cardcontainer:hover img {
  display: none;
}
.cardcontainer {
  color: white;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.844);
  cursor: pointer;
  justify-content: center;
  display: flex;
}
.titlenavbar {
  color: red;
  font-weight: bold;
}
.info {
  display: none;
  width: 88%;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 13px;
}
.cardcontainer:hover .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
