img {
  width: 100%;
  height: 100%;
}
.cardcontainer:hover img {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
.cardcontainer {
  color: white;
  border-radius: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.844);
  cursor: pointer;
  position: relative;
}
.titlenavbar {
  color: red;
  font-weight: bold;
}
.info {
  display: none;
  position: absolute;
  top: 26px;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 0;
}
.cardcontainer:hover .info {
  display: block;
  transition: 0.5s ease-out;
}
